:root {
    --roxo-principal:#7b2fa0;
    --roxo-medio:#9a4cc2;

    --dourado:#d99a19;
    --dourado-claro:#f5c451;
    --roxo-escuro: #4e1d68;

    --fundo-claro:#f8f5fa;
    --branco:#ffffff;

    --texto-principal:#2d2130;
    --texto-claro:#ffffff;

    
}