@import "../../styles/variables.css";

.card{
    background-color: var(--branco);
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-4px);
}
.card-titulo{
    margin:0;
    color: #777;
    font-size: 14px;
}
.card-valor{
    display: block;
    margin-top: 12px;
    color: var(--roxo-principal);
    font-size: 28px;
    font-weight: bold;
}